<h1>User</h1>

Name: <%=@user.name%>
<h2>Restaurants</h2>
<ul>
  <% @user.restaurants.each do |restaurant| %>
    <li><a href= "/restaurants/<%= restaurant.id %>"><%=restaurant.name%></a></li>
  <% end %>
</ul>

<a href="/users/<%= @user[:id] %>/edit"><button>Edit User</button></a>

<p>
  <form action="/users/<%= @user.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete User">
  </form>
</p>