<h1> Restaurant</h1>

  <h3>Name: <%=@restaurant.name%></h3>
  <p>Rating: <%=@restaurant.rating%></p>
  <p>Address: <%=@restaurant.address%>, <%=@restaurant.city%></p>
  <p>Website: <a href="<%=@restaurant.url%>">Click here</a></p>

  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYV-lwaMb8p0Hz04ILnsVSvHDZD2pZ7rc
      &q=<%=@restaurant.city%>+<%=@restaurant.address%>" allowfullscreen>
  </iframe>

  <h2> People who may want to try it</h2>

  <ul>
    <% @restaurant.users.each do |user| %>
    <li><a href="/users/<%= user.slug %>"><%= user.name %></a></li>
    <% end %>
  </ul>

  <form action="/restaurants/<%= @restaurant.id %>/adduser" method="post">
    <select name="user">
      <%@valid_users.each do |user| %>
        <option value="<%=user.name %>"><%=user.name%></option>
      <%end%>
    </select>
    <input class="submit" type="submit" value="Submit">
  </form>

  <p>
    <a href="/restaurants/<%= @restaurant.id %>/edit"><button class="edit_btn">Edit Restaurant</button></a>

    <form action="/restaurants/<%= @restaurant.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input class="delete_btn" type="submit" value="Delete Restaurant">
    </form>
  </p>